In [5]:
import pandas as pd  
import collections
import numpy as np
    
# making dataframe
df = pd.read_csv("data/sentiment140_with_location.csv", names=['target','id','date','flag','user','text', 'location'])  

df

,target,id,date,flag,user,text,location
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",China
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Dominican Republic
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Germany
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Brazil
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Argentina
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,Japan
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,Spain
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,Nigeria
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,Argentina
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,Indonesia

In [30]:
# split dataset
shuffled = df.sample(frac = 1)
result = np.array_split(shuffled, 8)
split_df = result[0]
split_df

c:\Python312\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,target,id,date,flag,user,text,location
328990,0,2011031706,Tue Jun 02 18:22:02 PDT 2009,NO_QUERY,danikaswanson,its going on a week and my dang picture is sti...,Peru
342651,0,2015300863,Wed Jun 03 04:17:17 PDT 2009,NO_QUERY,racemom3888,getting ready to go to yet again,Kenya
571482,0,2208852612,Wed Jun 17 09:42:36 PDT 2009,NO_QUERY,moniquecook,Leaving town. Going to my bro's house in the G...,Colombia
273030,0,1990318207,Mon Jun 01 04:32:04 PDT 2009,NO_QUERY,lucytaylor123,"Like no one is tweeting today, this makes me sad",Peru
1074367,4,1966961248,Fri May 29 18:43:04 PDT 2009,NO_QUERY,pyarkaaloo,WHY is Noraniza Idris out of the spotlight?? n...,Tanzania
...,...,...,...,...,...,...,...
653806,0,2239061910,Fri Jun 19 08:05:03 PDT 2009,NO_QUERY,sashhx,is getting stressed with t-mobile,Peru
113212,0,1825738485,Sun May 17 06:41:26 PDT 2009,NO_QUERY,jcplum94,prettyy boared.. waiting for it to stop rainin...,Indonesia
621456,0,2228810352,Thu Jun 18 14:54:57 PDT 2009,NO_QUERY,LetsTwatThis,@saxy15 awww I'm sorry I hope things get bett...,Egypt
1560312,4,2186315852,Mon Jun 15 18:39:56 PDT 2009,NO_QUERY,cupcakesfortwo,"Tried her first ever glass of Almond Milk, was...",Ethiopia
1016098,4,1881657007,Fri May 22 05:14:28 PDT 2009,NO_QUERY,HannahElise89,@jimmycarr http://twitpic.com/5opwl - Welcome ...,Cuba

In [5]:
# tweets_by_location = collections.defaultdict(list)
# sentiment_sum = 0
# for row in df.iterrows():
#     sentiment = row[1][0]
#     text = row[1][5]
#     location = row[1][6]
#     sentiment_sum += sentiment
#     tweets_by_location[location].append(text)
# # print(tweets_by_location)
# print("average sentiment: ", sentiment_sum/df.size)

average sentiment:  0.0

In [31]:
target_counts = collections.Counter(result[0]['target'])
location_counts = collections.Counter(result[0]['location'])
print("target counts: ", target_counts)
print("location_counts: ", location_counts)

target counts:  Counter({4: 100021, 0: 99979})
location_counts:  Counter({'UK': 6227, 'Cuba': 6186, 'Australia': 6163, 'India': 6159, 'Peru': 6148, 'Thailand': 6126, 'Brazil': 6124, 'USA': 6120, 'Dominican Republic': 6115, 'Mexico': 6114, 'Spain': 6102, 'Colombia': 6098, 'Japan': 6071, 'Indonesia': 6063, 'Italy': 6057, 'Ecuador': 6057, 'China': 6055, 'Jamaica': 6052, 'New Zealand': 6044, 'Egypt': 6038, 'Nigeria': 6035, 'Kenya': 6022, 'Canada': 6015, 'Chile': 6012, 'South Africa': 6009, 'Ethiopia': 6004, 'Germany': 5994, 'South Korea': 5991, 'Russia': 5990, 'Antarctica': 5980, 'Tanzania': 5978, 'Argentina': 5966, 'France': 5885})

In [32]:
def locationSentiment(data, location):
    """
    input: location is the input location of interest
    output: the average sentiment of the tweets for a location
    """
    # go through the dataframe filtered by location
    # get the average sentiment of the tweets in that location by getting sum and dividing by number of rows
    location_data = data[data["location"] == location]
    total_sentiment_value = sum(list(location_data["target"]))
    return total_sentiment_value/len(location_data)

print(locationSentiment(result[0], "China"))

1.97588769611891

In [33]:
# find average sentiment for each location and store in location_scores
location_scores = {}

for (location, count) in location_counts.items():
    score = locationSentiment(result[0], location)
    location_scores[location] = score

# code sourced from https://stackoverflow.com/questions/613183/how-do-i-sort-a-dictionary-by-value
sorted_location_scores = {k: v for k, v in sorted(location_scores.items(), key=lambda item: item[1])}
sorted_location_scores

{'USA': 1.94640522875817,
 'Canada': 1.9557772236076476,
 'Ecuador': 1.9574046557701832,
 'Germany': 1.9652986319652985,
 'Kenya': 1.9674526735303886,
 'Nigeria': 1.9724937862468932,
 'Australia': 1.9743631348369302,
 'China': 1.97588769611891,
 'Italy': 1.9805184084530296,
 'South Africa': 1.982359793642869,
 'Japan': 1.9838576840718167,
 'Indonesia': 1.987135081642751,
 'Brazil': 1.9902024820378836,
 'South Korea': 1.9909864797195793,
 'Tanzania': 1.993977919036467,
 'Dominican Republic': 1.9944399018806214,
 'Colombia': 1.9973761889143982,
 'Ethiopia': 2.0013324450366423,
 'France': 2.002378929481733,
 'Argentina': 2.0053637277908147,
 'Cuba': 2.0096993210475267,
 'New Zealand': 2.0099272005294506,
 'UK': 2.0099566404368074,
 'Chile': 2.0099800399201597,
 'Mexico': 2.020281321557082,
 'Thailand': 2.030035912504081,
 'Jamaica': 2.0323859881031066,
 'Antarctica': 2.0327759197324413,
 'India': 2.032797532066894,
 'Spain': 2.0353982300884956,
 'Egypt': 2.0443855581318315,
 'Peru': 2.0572543916720885,
 'Russia': 2.062771285475793}

In [35]:
# drop unnecessary columns
split_df = split_df.drop(['id', 'date', 'flag', 'user'], axis=1)

split_df

         target                                               text   location
328990        0  its going on a week and my dang picture is sti...       Peru
342651        0                  getting ready to go to yet again       Kenya
571482        0  Leaving town. Going to my bro's house in the G...   Colombia
273030        0  Like no one is tweeting today, this makes me sad        Peru
1074367       4  WHY is Noraniza Idris out of the spotlight?? n...   Tanzania
...         ...                                                ...        ...
653806        0                 is getting stressed with t-mobile        Peru
113212        0  prettyy boared.. waiting for it to stop rainin...  Indonesia
621456        0  @saxy15 awww I'm sorry  I hope things get bett...      Egypt
1560312       4  Tried her first ever glass of Almond Milk, was...   Ethiopia
1016098       4  @jimmycarr http://twitpic.com/5opwl - Welcome ...       Cuba

[200000 rows x 3 columns]